.youtube-embed {
    height: 540px;
}

@media only screen and (max-width: 960px) {
    .youtube-embed {
        height: 430px;
    }
}

@media only screen and (max-width: 790px) {
    .youtube-embed {
        height: 340px;
    }
}

@media only screen and (max-width: 640px) {
    .youtube-embed {
        height: 280px;
    }
}

@media only screen and (max-width: 460px) {
    .youtube-embed {
        height: 200px;
    }
}

.owl-theme .owl-dots {
    width: 100%;
    position: absolute;
    margin-top: -30px !important;
}

.fill-white {
    fill: white;
}